.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightGrey);
  padding: 79px 0;

  &-inner {
    position: relative;
  }

  &-imgage {
    vertical-align: top;
  }

  &-line {
    width: 357px;
    height: 3px;
    background-color: var(--darkGrey);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &-surname,
  &-name {
    position: absolute;
    display: flex;
    align-items: baseline;
    gap: 21px;
    height: 61px;
    font-family: 'Cormorant';
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: var(--darkGrey);
  }

  &-surname {
    bottom: 0;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
  }

  &-name {
    top: 0;
    left: 100%;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotate(90deg);
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 134px;
  padding-right: 138px;
  background-color: var(--olive);
  color: var(--beige);
  overflow: hidden;

  &-title {
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &-text {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 20px;
    line-height: 35px;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    background-image: url('../assets/twig-l.svg');
    width: 298px;
    height: 676px;
    transform: rotate(-67.37deg) scale(0.6);
    bottom: -43%;
    right: -10%;
  }
}
