.about {
  display: grid;
  grid-template-columns: 705px 735px;
}

.photo {
  background-color: var(--lightGrey);
  padding: 100px 0 100px 221px;
  font-family: 'Cormorant';

  &-inner {
    position: relative;
    width: 333px;
  }

  &-imgage {
    vertical-align: top;
  }

  &-line {
    height: 3px;
    background-color: var(--darkGrey);
    border-radius: 2px;

    &--surname {
      width: 349px;
    }

    &--name {
      width: 365px;
    }
  }

  &-surname,
  &-name {
    position: absolute;
    display: flex;
    align-items: baseline;
    gap: 21px;
    height: 61px;
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: var(--darkGrey);
  }

  &-surname {
    bottom: 0;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
  }

  &-name {
    top: 0;
    left: 100%;
    transform-origin: 0 100%;
    transform: translateY(-100%) rotate(90deg);
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 125px;
  padding-right: 164px;
  background-color: var(--olive);
  color: var(--beige);
  overflow: hidden;
  font-family: 'Helvetica Neue';
  font-weight: 400;

  &-title {
    font-family: 'Cormorant', serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 35px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    background-image: url('../assets/twig.svg');
    width: 298px;
    height: 676px;
    transform: rotate(-67.37deg) scale(0.6);
    bottom: -43%;
    right: -10%;
  }
}
