.tag {
  padding: 8px 16px;
  border: 1px solid white;
  border-radius: 40px;
  font-size: 32px;
  line-height: 42px;
  font-family: 'Raleway', sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  font-size: 16px;
  border-radius: 50%;
  font-family: 'Raleway', sans-serif;

  &--primary {
    color: white;
    background-color: var(--pink);
    transition: transform 200ms ease-in;

    &:hover {
      transform: scale(1.05) rotate(-10deg);
    }
  }
}