:root {
  --darkGrey: #444446;
  --beige: #EBE7DC;
  --olive: #7F8B81;
  --lightGrey: #DDDEDC;
}

html {
	scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: 'Montserrat', 'Robotto', sans-serif;
  font-weight: 300;
}

.body-wrapper {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}
