:root {
  --darkGrey: #444446;
  --beige: #EBE7DC;
  --olive: #7F8B81;
  --lightGrey: #DDDEDC;
  --borderGrey: #ADAAA4;

  --black: #1E1E1E;
  --pink: #F50294;
}

html {
	scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  min-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

