.header {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  padding: 24px 164px;
  display: flex;
  background-image: url('../assets/header-background.jpg');
  color: white;
  font-family: 'Raleway', sans-serif;

  &__menu {
    height: 48px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: calc(78px + 74px);
    background-image: url('../assets//menu.svg');
    background-repeat: no-repeat;
    align-self: flex-end;
    width: 48px;
    height: 48px;
  }

  &__content {
    display: flex;
  }

  &__title {
    position: relative;
    font-size: 154px;
    line-height: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Krona One', sans-serif;

    &__tags {
      position: absolute;
      display: flex;
      content: '';
      gap: 8px;
      left: 0;
      top: -74px;
      font-family: 'Raleway', sans-serif;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-top: 16px;
  }
}
