.line {
  position: relative;
  margin-top: 100px;
  padding: 48px 0;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  overflow: hidden;

  &__wrapper {
    display: flex;
  }

  &__text {
    position: relative;
    padding-right: 24px;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      background-color: var(--black);
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      right: 8px;
    }
  }
}

@keyframes runningLine {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
