.projects {
  padding: 0 20px 160px;
  background-color: var(--darkGrey);
  color: var(--beige);

  &-wrapper-title {
    display: grid;
    gap: 134px;
    grid-template-columns: auto auto;
    padding-left: calc(138px - 20px);
    padding-top: 160px;
    margin-bottom: 60px;
  }

  &-title {
    width: 338px;
    margin: 0;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Cormorant', serif;
    font-weight: 500;
  }

  &-text {
    width: 810px;
    font-size: 20px;
    line-height: 35px;
  }

  

  &-content {
    &-double {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 16px;

      &--gap {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
      }
    }

    &-wrapper {
      border: 3px solid var(--borderGrey);
      border-radius: 8px;
  
      &--doubleRCafe {
        display: flex;
        gap: 30px;
        padding: 37px;
  
        &--single {
          padding: 11px 17px;
        }
  
        img {
          border-radius: 8px;
        }
      }
  
      &--museum {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--full {
          min-height: 662px;
        }
      }
    }
  }

  &-view {
    &--museum {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &--doubleRCafe {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}